In [3]:
import requests
countries_api_res = requests.get('http://api.worldbank.org/countries?format=json&per_page=100')
countries = countries_api_res.json()[1]

In [4]:
print(len(countries))

100

In [5]:
import pprint
pprint.pprint(countries[0])

{'adminregion': {'id': '', 'value': ''},
 'capitalCity': 'Oranjestad',
 'id': 'ABW',
 'incomeLevel': {'id': 'HIC', 'value': 'High income'},
 'iso2Code': 'AW',
 'latitude': '12.5167',
 'lendingType': {'id': 'LNX', 'value': 'Not classified'},
 'longitude': '-70.0167',
 'name': 'Aruba',
 'region': {'id': 'LCN', 'value': 'Latin America & Caribbean '}}

In [ ]:
import sqlite3
conn = sqlite3.connect('banco_teste.db')
c = conn.cursor()
c.execute("CREATE TABLE countries (id varchar(3), data json)")

In [ ]:
import json
for country in countries:
    c.execute("insert into countries values (?, ?)",
    [country['id'], json.dumps(country)])
    conn.commit()
conn.close()

In [2]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('banco_teste.db')
countries = pd.read_sql_query("""select json_extract(data, '$.name') as name, 
                              json_extract(data, '$.region.value') as region
                              from countries where name == 'Aruba'""", connection)
connection.close()
countries.head()

DatabaseError: Execution failed on sql 'select json_extract(data, '$.name') as name,
                              json_extract(data, '$.region.value') as region
                              from countries where name == 'Aruba'': no such function: json_extract

In [ ]:
connection = sqlite3.connect('banco_teste.db')
selecao = pd.read_sql_query("""SELECT DISTINCT user.name
  FROM user, json_each(user.phone)
 WHERE json_each.value LIKE '704-%';""", connection)
connection.close()
selecal.head()

SELECT DISTINCT user.name
  FROM user, json_each(user.phone)
 WHERE json_each.value LIKE '704-%';