In [1]:
import requests
countries_api_res = requests.get('http://api.worldbank.org/countries?format=json&per_page=100')
countries = countries_api_res.json()[1]

In [2]:
print(len(countries))

100

In [3]:
import pprint
pprint.pprint(countries[0])

{'adminregion': {'id': '', 'value': ''},
 'capitalCity': 'Oranjestad',
 'id': 'ABW',
 'incomeLevel': {'id': 'HIC', 'value': 'High income'},
 'iso2Code': 'AW',
 'latitude': '12.5167',
 'lendingType': {'id': 'LNX', 'value': 'Not classified'},
 'longitude': '-70.0167',
 'name': 'Aruba',
 'region': {'id': 'LCN', 'value': 'Latin America & Caribbean '}}

In [4]:
import sqlite3
conn = sqlite3.connect('banco_teste.db')
c = conn.cursor()
c.execute("CREATE TABLE countries (id varchar(3), data json)")

In [5]:
import json
for country in countries:
    c.execute("insert into countries values (?, ?)",
    [country['id'], json.dumps(country)])
    conn.commit()
conn.close()

In [6]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('banco_teste.db')
countries = pd.read_sql_query("""select json_extract(data, '$.name') as name
                              from countries""", connection)
connection.close()
countries.head()

          name
0        Aruba
1  Afghanistan
2       Africa
3       Angola
4      Albania

In [ ]:
'''
Caso n√£o funcione Download "Precompiled Binaries for Windows" (https://www.sqlite.org/download.html)
Substitua o sqlite3.dll no pacote sqlite3
''''''